:root {
  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --background-color: #ffffff;
  --logo-second-word-header: #2e2f42;
  --logo-second-word-footer: #f4f4fd;
  --border-menu-filter-btn: 1px solid #e7e9fc;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: var(--main-font-family);
  color: #434455;
  background-color: #ffffff;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ================= COMPONENTS ================= */
.logo {
  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}

.logo-header {
  margin-right: 76px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-second-word-footer {
  color: var(--logo-second-word-footer);
}

.logo-second-word-header {
  color: var(--logo-second-word-header);
}
/* ================= /COMPONENTS ================= */

/* ================== header ===================== */
.page-header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.page-contact {
  font-style: normal;
  margin-left: auto;
}

.contact-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contact-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-right: 70px;
}

.contact:hover,
.contact:focus {
  color: #404bbf;
}
/* ==========/header========== */

/*  =================slogan================*/
.slogan {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/slogan/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  max-width: 496px;
}
.modal-open-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  display: block;
  padding: 16px 32px;
  min-width: 169px;
  min-height: 56px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
}

.modal-open-btn:hover,
.modal-open-btn:focus {
  background-color: #404bbf;
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.advantages-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*  =================/slogan================*/

/* ================= our advantages=================== */

.our-advantages {
  padding: 120px 0;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.advantages-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.advantages-list-item {
  flex-basis: calc((100% - 72px) / 4);
}

.advantages-title {
  margin-bottom: 8px;
}

/* ================== /our advantages==================== */

/* ==================== What are we doing ================ */

.what-are-we-doing {
  padding-bottom: 120px;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.suptitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.gallery-list {
  display: flex;
  gap: 24px;
}

.gallery-list-item {
  flex-basis: calc((100% - 48px) / 3);
}

/*================ Our Team ================*/

.our-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.employees-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.employees-list-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

.team-gallery-list {
  display: flex;
  gap: 24px;
}

.team-gallery-list-item {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.employees-list-text-content {
  padding: 32px 16px;
  text-align: center;
  background-color: #ffffff;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

/*================ /Our Team ================*/

/*====================== footer ================*/

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.footer-container {
  display: flex;
}

.footer-block-one {
  margin-right: 120px;
}

.footer-message {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-media-message {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-list-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  justify-content: center;
  align-items: center;
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
}

/*====================== /footer ================*/

/*====================== portfolio =================*/

.filter {
  padding-top: 96px;
  padding-bottom: 120px;
}

.menu-filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  padding: 12px 24px;
  border-radius: 4px;
  border: var(--border-menu-filter-btn);
}

.menu-filter-btn:hover,
.menu-filter-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio-list-branch {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-list-activity {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.menu-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

.portfolio-list-text-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/*====================== /portfolio =================*/
